h2.heading--2 about us 
.about-us__services
   +service('fas fa-pen-nib', 'interior')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem?
   +service('fas fa-paint-roller', 'exterior')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem?
   +service('fas fa-pencil-alt', 'design')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem? 
   +service('fas fa-paint-brush', 'decoration')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem?
   +service('fas fa-ruler-combined', 'planning')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem?
   +service('far fa-building', 'execution')
      p.service__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consequuntur perferendis iure excepturi doloremque voluptatibus sint voluptates tempora modi autem?
   .about-us__img-wrapper  
      img.about-us__img(srcset="assets/img/house-sm.png 420w, assets/img/house.png 843w" sizes="(max-width: 56.25em) 19vw, (max-width: 37.5em) 75vw, 450px" src="assets/img/house.png", alt="House")
