footer.footer
   p.copyright Copy &copy; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, saepe.
   +socialList('social-footer',["fab fa-facebook-f","fab fa-instagram", "fab fa-twitter"])