.header__bg-container
   img.header__img(srcset="assets/img/bg-sm.jpg 900w, assets/img/bg.jpg 1920w" sizes="(max-width: 56.25em) 100vw, (max-width: 37.5em) 100vw, 1920px" src="assets/img/bg.jpg", alt="House image")
.header__banner
   h1.heading--1.header__heading Architecture & Interior Design
   p.header__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nesciunt!
   a.btn--primary.header__btn(href="#") Discover Now