.navigation
   .navigation__menu
      .navigation__icon 
      .navigation__tooltip close
   nav.nav 
      ul.navigation__link-list 
         li.navigation__item 
            a.navigation__link(href="#" data-content="Home") home
         li.navigation__item 
            a.navigation__link(href="#" data-content="About") about
         li.navigation__item 
            a.navigation__link(href="#" data-content="Pricing") pricing
         li.navigation__item 
            a.navigation__link(href="#" data-content="Blog") blog 
         li.navigation__item 
            a.navigation__link(href="#" data-content="Contact") contact
      +socialList('social-menu',["fab fa-facebook-f","fab fa-instagram", "fab fa-twitter"])