h2.heading--2 our team
.team__members 
   +teamMember('person-1', '320w', '640w', 'john smith', 'CEO')
      p.team-member__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum adipisci rerum itaque pariatur exercitationem soluta.
   +teamMember('person-2', '600w', '960w', 'ann brown', 'Designer')
      p.team-member__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum adipisci rerum itaque pariatur exercitationem soluta.
   +teamMember('person-3', '599w', '960w', 'mary doe', 'architect')
      p.team-member__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum adipisci rerum itaque pariatur exercitationem soluta.