include ../abstracts/variables
include ../abstracts/mixins

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- font
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700&family=Baloo+Da+2:wght@300;400;500&display=swap" rel="stylesheet")
      //- icon
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' crossorigin='anonymous')
      //- style
      link(rel="stylesheet", href="css/main.css")

      title Architect website
   body 
      include ../blocks/spinner
      .container
         include ../blocks/menu
         block home
         include ../blocks/footer
         a.btn--text.btn--primary.btn--scroll(href="#") 
            i.fas.fa-arrow-up
      //- script 
      script(src="js/app.js") 
      //- tiltjs
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" referrerpolicy="no-referrer")
