:root {
   // colors
   --c-primary-l: #e2b646;
   --c-primary-d: #c29525;
   --c-secondary: #a52a2a;
   --c-gray-1: #777777;
   --c-gray-2: #4b4b4b;
   --c-gray-3: #343434;
   --c-gray-4: #272727;
   --c-gray-5: #17181b;
   // fonts
   --f-josefin: 'Josefin Slab', serif;
   --f-muli: 'Mulish', sans-serif;
   --f-baloo: 'Baloo Da 2', sans-serif;
   // general
   --border: 2px solid red;
   --transition: all 300ms;
   --transition-s: all 500ms;
}
