extends ../templates/template
block home 
   header.header
      include ../blocks/header
   main 
      article 
         section.about-us 
            include ../blocks/about
         section.team 
            include ../blocks/team
         section.contact 
            include ../blocks/contact